body{
   background-color: black;
}

.navBar-container{
    display: flex;
}

.logo-section{
    height: 51px;
    width: 333px;
    color: #FFF;
    font-family: Ruda;
    font-size: 29px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.74px;
    justify-content: center;
    text-align: center;
    padding: 30px 99px 30px 20px;
}
.btn-section ul li a{
    height: 28px;
    width: 159px;
    color: #FFF;
    font-family: Ruda;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.btn-section ul{
    display: flex;
    list-style-type: none;
}
.btn-section ul li{
    margin-top: 20px;
    margin-left: 20px;
}

.social-icon li{
    display: inline-block;
}

.insta{
    width: 62.331px;
    height: 43.122px;
    transform: rotate(179.857deg);
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.25);
}


.head-line{
    margin-left: 632px;
    width: 474px;
    height: 52px;
    color: #FFF;
    font-family: Quattrocento;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
}

.head-underline{
    height: 9px;
    width: 474px;
    background: #B62828;
    margin-left: 500px;
}

.cl{
    width: 1334px;
height: 638px;
flex-shrink: 0;
margin-left: 198px;
}



.logo-new{
    display: flex;
width: 333px;
height: 51px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 29px;
font-family: Ruda;
font-style: normal;
font-weight: 700;
line-height: 0px;
letter-spacing: 1.74px;
}


.nav-link{
width: 159px;
height: 28px;
color: #FFF;
font-size: 24px;
font-family: Ruda;
font-style: normal;
font-weight: 400;
line-height: 0px;
}


.inst,fb,what{
    margin-top: 0%;
    margin-bottom: 20px;
}


.navbar-nav{
    margin-top: 20px;
}